<div class="container h-100 d-flex justify-content-center align-items-center">

  <form [formGroup]="user" class="w-50 p-5 rounded-3">
    <div class="row">
      <div class="col-6 mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input formControlName="nome" type="text" class="form-control" id="nome">
      </div>
      <div class="col-6 mb-3">
        <label for="cognome" class="form-label">Cognome</label>
        <input formControlName="cognome" type="text" class="form-control" id="cognome">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-7">
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 position-relative">
          <label for="passwordConf" class="form-label">Conferma password </label>
          <input formControlName="passwordConf" type="password" class="form-control" id="passwordConf">
        </div>
      </div>
      <div class="col-5  h-100 d-flex justify-content-center align-items-center">
        <label for="propic" class="rounded-3">
          <i class="bi bi-camera"></i>
        </label>
        <input formControlName="propic" type="file" class="form-control d-none" id="propic">

      </div>
    </div>
    <div class="row">
      <div class="col-4">

        <label for="pronouns" class="form-label">Genere</label>
        <select formControlName="pronouns" class="form-select mb-3" aria-label="Pronouns select" id="pronouns">
          <option selected>She/Her</option>
          <option value="1">He/Him</option>
          <option value="2">They/Them</option>
        </select>
      </div>
      <div class="col-8">
        <label for="username" class="form-label">Username</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input formControlName="username" type="text" class="form-control" aria-label="Username" id="username"
            aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <textarea formControlName="bio" class="form-control" placeholder="Su di te..." id="bio"
        style="height: 100px"></textarea>
      <label for="bio">Biografia</label>
      <p class="text-end">{{user.controls['bio'].value.length}}/100</p>
    </div>
    <button [disabled]="user.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
