<div class="row">
  <div class="col-3 sidebar text-center">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-9 row central">
    <div class="col-12">
      <div class="container mt-4">
        <h2 class="text-lg font-bold ml-0 p-2 lg:ml-28 text-center md:text-left text-white mt-2">Week's Forecast</h2>
            <div class="bg-light p-3 rounded shadow">
              <app-small-forecast-card></app-small-forecast-card>
            </div>
          </div>
        </div>



    <div class="col-12">
      <app-details-card></app-details-card>
    </div>
  </div>
</div>
