@import "../node_modules/bootstrap/scss/functions";

$black-custom: rgba(20,20,20,255);


// $dropdown-border-radius: 0;
$dropdown-border-width: 0;

$custom-colors: (
  
  "black": $black-custom
);
@import "variables";
@import "variables-dark";
@import "../node_modules/bootstrap/scss/mixins";
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
