@import 'reset';
@import 'overrides';


body{
    background-color: $black-custom;
}



header {
    button, .nav-link ,.navbar-toggler-icon{
        color: white !important;
    }z-index: 1000;
}

.dropdown{
    img{
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }
}



#custom-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -56px;
    z-index: 1000;
    background-color: $black-custom;
}


.imgLogo{
     height: 50px;
     width: 100px;
}

.searchTab {
     background: transparent;
     border: none;
     cursor: pointer;
     display: inline-block;
 }


 .bellButton{
     background: transparent;
     border: none;
     cursor: pointer;
     display: inline-block;
 }



  .ulMenu{
    background-color: black;
    .menu-list{ 
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
        }

    }
  }
  .dropdown-menu{
    background-color: black;
    opacity: 0.9;
    padding: 15px 0;
    color:white;
    font-size: 0.9rem;
    a{
        color: white;
        text-decoration: none;
        margin:10px 10px;
        &:hover{
            text-decoration: underline;
        }
    }
    img{
        margin-left: 20px;
    }
  }


  .btnAccount{
    background-color: $black-custom;
  }
  .dropGeneri{
    button{
        opacity: 0.8;
        padding:3px 15px;
        border-radius: 0;
        border: 1px solid white;
        background-color: black;
        p{
            margin-right: 40px;
        }
    }

  }
  .form-control{
    display: none;
    margin-right: 40px;
  }

  .header-fixed{
    position: sticky;
    top: 0;
    height: auto;
    min-height: 70px;
    z-index: 1001;
  }

  .btngroup{
    margin-right: 80px;
    margin-top: 10px;
  }
  .aro-row-toggle, .aro-grid-toggle{
    background-color: transparent;
    padding: 2px 12px 6px 12px;
    color:white;
    border: 2px solid white;
    opacity: 0.8;
    &:hover{
        background-color: white;
        color: #000;
  }}

  .heroImage{
    margin-top: 60px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    .hero{
        width: 100%;
        height:400px;
        @media screen and (min-width: 768px) {
            height: 600px;

    }
  }}
  .text-container{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    
  }
     $numero-film-iniziali: 6; // Numero di film da visualizzare inizialmente
    $larghezza-film: 200px; // Larghezza di ciascun film in pixel
    // Spazio tra le immagini

h1{
    margin-right: 60px;
}

h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 60px 30px 20px 40px;
}
.h2index{
   margin-top: -500px;
   @media screen and (min-width: 768px) {
    margin-top: 0;
   }
}

  .row-img{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }

  .slide-img, .slide-img2, .slide-img3 {
    
      flex: 0 0 $larghezza-film;
      z-index:2 ;
      transition: transform 0.8s;
      height: 180px;
      &:hover{
          transform: scaleX(1.1);
          z-index: 1000;
          height: 210px;
          cursor: pointer;
}@media screen and (min-width : 768px) {
    height: 200px;
    &:hover{
        transform: scaleX(1.2);
        z-index: 1000;
        height: 240px;
        cursor: pointer;

  }}}

 .navbar{
    background-color: #000;
 }


  .scroll-left, .scroll-right, .scroll-left2, .scroll-right2,.scroll-left3, .scroll-right3 {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .film-list, .film-list2, .film-list3{
    display: flex;
    flex-direction: row;
    gap: 10px;  // Le immagini sono nella stessa riga // Spazio tra le immagini
    transition: transform 0.3s ease; // Aggiungi una transizione al movimento delle immagini
  }

  .overlay, .overlay2, .overlay3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none; // L'overlay cattura gli eventi del mouse
    z-index: 1; // Assicurati che l'overlay sia sovrapposto alle immagini
  }




    .member-footer{
        width: 70vw;
        margin:40px auto;
        color:grey;
        a{
            color:white;
            text-decoration:none;
            cursor: pointer;

        } .social-links{
            margin: 20px;

        }
        

        .social-link{
            margin-right:25px;
            &:hover{transition: transform 1s;
                svg{
                    transform: scale(2);
            }}
        }
        .member-footer-links{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap:20px;
            

            .member-footer-link-wrapper{
                flex-basis: 20%
                
            }

            .member-footer-link{
                color:grey;
                font-size: 13px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .service-code{
        background: transparent;
        border: 1px solid grey;
        color: grey; 
        margin-bottom: 20px; 
    }


/************************************************************************************************/

.body-setting{
    background-color: white;
    font-size: 0.8rem;

.container-setting{
    max-width: 80vw;
    margin: 0 auto;
    @media  screen and (min-width: 768px) {
        max-width: 75vw;
        margin: 0 auto;
    }
    @media screen and (min-width: 1024px) {
        max-width: 70vw;
        margin: 0 auto;
    }
    @media screen and (min-width: 1300px) {
        max-width: 55vw;
    };
}

a{
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0;
    &:hover{
        text-decoration: underline;
    }
}

.billing{
    margin-top: -10px;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding: 0;
}
.PAYPAL{
    width: 40px;
    height: 35px;
    border-radius: 2px;
    margin-right: 5px;
}

.container-myprofile{
    img{
        width: 25px;
        height: 25px;
        border-radius: 3px;
        margin-right: 15px;
    }
    ul{
        margin-right: 20px;
    }
}
.col-12{
    height: auto;
    align-items: center;
    
}
.namePaypal{
    margin-right: 10px;
}
.bold, .name{
    font-weight: bold;
    opacity: 0.9;
}
p{
    margin-bottom: 0;
}

h4{
    font-size: 0.9rem;
    color: gray;
    opacity: 0.8;
}

.link-foot{
    display: flex;
    flex-wrap: wrap;
}

.link-finali{
    flex-basis: 50%;
}
.border-secondary {
    --bs-border-opacity: 0.5;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
  }

.dropdown-menu{
    a{
        margin: 10px 10px;
    }
}

.cancel-member{
    color: black;
    opacity: 0.9;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 1px;
    margin-top: 50px;
    padding:5px 20px;
    box-shadow: 1px 1px 2px gray;
    &:hover{
       text-decoration: none;
       background-color: rgb(214, 214, 214);
        border: 1px solid rgb(214, 214, 214);
    }
}

.title-setting{
    padding: 20px 0;
}

}


.body-profile{
    .card{
        max-width: 90vw;
        background-color: $black-custom;
        padding: 20px;
        color:white;
        @media  screen and (min-width: 768px) {
            max-width: 80vw;
            margin: 0 auto;
        }
        @media screen and (min-width: 1024px) {
            max-width: 50vw;
            margin: 0 auto;
        }
        @media screen and (min-width: 1300px) {
            max-width: 40vw;
        };
    }
    .avatar-box{
        position: relative;
        .svg-icon{
            background-color: rgba(0,0,0,.7);
            border-radius: 5rem;
            filter: drop-shadow(1px 1px 2px #000);
            height: 2rem;
            max-height: 25px;
            max-width: 25px;
            border: 1px solid transparent;
            margin: 0 -1px;
            overflow: visible;
            transform: scale(1);
            color:white;
        }
        .svg-icon-edit{
            fill: #fff;
        }img{
            border-radius: 5px;
        }
        }

    
    .avatar-edit-icon{
    background-color: transparent;
    border: none;
    bottom: 7%;
    cursor: pointer;
    left: 7%;
    position: absolute;
    }

    input[type=text], .inputName{
        width: 100%;
    }

    .card-header{
        font-size: 2.7rem;
        margin:0;
        padding: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(61, 61, 61);
    }


    .inputName{
        border-bottom: 1px solid rgb(61, 61, 61);
        margin-bottom: 20px;
    .profile-name-entry{
        background-color: gray;
        color: white;
        padding:4px 10px;
        &::placeholder{
            color: white;
        }

        }
    p{
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1.1rem;
    }button{
        padding: 0 10px;
        color: white;
        margin-bottom: 20px;
    }
    }

    
    .ptitle{
        font-size: 1.1rem;
        opacity: 0.9;
    }
    .sezione2{
        border-bottom: 1px solid rgb(61, 61, 61);
        padding-bottom: 30px;
        margin-bottom: 15px;
        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            padding: 5px 15px;
            background-color: rgb(72, 72, 72);
            border-radius: 1px;
            &:hover{
                text-decoration: none;
                background-color: rgb(98, 98, 98);
            }
        }.ptext{
            margin-top: 20px;
        }
    }

    .btn-profile{
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        padding:2px 15px;
        font-size: 1.2rem;
        letter-spacing: 2px ;
        opacity: 0.5;
        &:hover{
            background-color: white;
            color: black;
            opacity: 1;
        }
    }

    .sezione3{
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(61, 61, 61);
        margin-bottom: 10px;
        span{
            font-size: 0.9rem;
            margin-left: 4px;
        }

        .checked-autoplay{
            height: 30px;
            width: 30px;

        }
        input[type="checkbox" i] {
            border-color: white ;
            background-color: black !important;
            color: white;
          }
    }


    .card-footer{
        button{
            margin-right: 10px;
            padding: 5px 5px;
            @media  screen and (min-width: 768px){
                padding:5px 21px;
            }
        }
    }










}