/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
:root{
     font-family: "Bree", sans-serif;
}
#testoAlternato{
     position: absolute;
     width: 500px;
     top: 300px;
     left: 200px;
     padding :20px;
     border: 1px solid black;
     font-weight: bold;
     line-height: 1.5;

}

.parole {
     margin-left: 10px;
   }
   
   .parole i {
     position: absolute;
     width: 100%;
     opacity: 0;
     animation: cambioParole 15s linear infinite;
     animation-timing-function: linear;
   }
   @keyframes cambioParole {
     0%, 40% {
       opacity: 0;
       transform: translateY(-100vh); /* Inizia sopra e fuori dalla vista */
     }
     40%, 70% {
       opacity: 1;
       transform: translateY(0); /* Scende dall'alto e appare */
     }
      100% {
       opacity: 0;
       transform: translateY(100vh); /* Scende fino a scomparire nella parte inferiore */
     }
   }
   
   
   .parole i:nth-child(1) {
     animation-delay: 0s;
   }
   
   .parole i:nth-child(2) {
     animation-delay: 5s;
   }
   
   .parole i:nth-child(3) {
     animation-delay: 10s;
   }
   
 