html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mt-sm {
  margin-top: 0.25rem;
}

.mt-normal {
  margin-top: 0.5rem;
}

.mt-md {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 1.5rem;
}

.mt-xl {
  margin-top: 2rem;
}

.mt-xxl {
  margin-top: 3rem;
}

.mt-custom-1 {
  margin-top: 0.75rem;
}

.mt-custom-2 {
  margin-top: 2.5rem;
}

.ml-sm {
  margin-left: 0.25rem;
}

.ml-normal {
  margin-left: 0.5rem;
}

.ml-md {
  margin-left: 1rem;
}

.ml-lg {
  margin-left: 1.5rem;
}

.ml-xl {
  margin-left: 2rem;
}

.ml-xxl {
  margin-left: 3rem;
}

.ml-custom-1 {
  margin-left: 0.75rem;
}

.ml-custom-2 {
  margin-left: 2.5rem;
}

.mr-sm {
  margin-right: 0.25rem;
}

.mr-normal {
  margin-right: 0.5rem;
}

.mr-md {
  margin-right: 1rem;
}

.mr-lg {
  margin-right: 1.5rem;
}

.mr-xl {
  margin-right: 2rem;
}

.mr-xxl {
  margin-right: 3rem;
}

.mr-custom-1 {
  margin-right: 0.75rem;
}

.mr-custom-2 {
  margin-right: 2.5rem;
}

.mb-sm {
  margin-bottom: 0.25rem;
}

.mb-normal {
  margin-bottom: 0.5rem;
}

.mb-md {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 1.5rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.mb-xxl {
  margin-bottom: 3rem;
}

.mb-custom-1 {
  margin-bottom: 0.75rem;
}

.mb-custom-2 {
  margin-bottom: 2.5rem;
}

.mx-sm {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-normal {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-lg {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-xxl {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-custom-1 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-custom-2 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-sm {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-normal {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-xxl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-custom-1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-custom-2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pt-sm {
  padding-top: 0.25rem;
}

.pt-normal {
  padding-top: 0.5rem;
}

.pt-md {
  padding-top: 1rem;
}

.pt-lg {
  padding-top: 1.5rem;
}

.pt-xl {
  padding-top: 2rem;
}

.pt-xxl {
  padding-top: 3rem;
}

.pt-custom-1 {
  padding-top: 0.75rem;
}

.pt-custom-2 {
  padding-top: 2.5rem;
}

.pl-sm {
  padding-left: 0.25rem;
}

.pl-normal {
  padding-left: 0.5rem;
}

.pl-md {
  padding-left: 1rem;
}

.pl-lg {
  padding-left: 1.5rem;
}

.pl-xl {
  padding-left: 2rem;
}

.pl-xxl {
  padding-left: 3rem;
}

.pl-custom-1 {
  padding-left: 0.75rem;
}

.pl-custom-2 {
  padding-left: 2.5rem;
}

.pr-sm {
  padding-right: 0.25rem;
}

.pr-normal {
  padding-right: 0.5rem;
}

.pr-md {
  padding-right: 1rem;
}

.pr-lg {
  padding-right: 1.5rem;
}

.pr-xl {
  padding-right: 2rem;
}

.pr-xxl {
  padding-right: 3rem;
}

.pr-custom-1 {
  padding-right: 0.75rem;
}

.pr-custom-2 {
  padding-right: 2.5rem;
}

.pb-sm {
  padding-bottom: 0.25rem;
}

.pb-normal {
  padding-bottom: 0.5rem;
}

.pb-md {
  padding-bottom: 1rem;
}

.pb-lg {
  padding-bottom: 1.5rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.pb-xxl {
  padding-bottom: 3rem;
}

.pb-custom-1 {
  padding-bottom: 0.75rem;
}

.pb-custom-2 {
  padding-bottom: 2.5rem;
}

.px-sm {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-normal {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-md {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-xxl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-custom-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-custom-2 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-normal {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-lg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-xxl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-custom-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-custom-2 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}/*# sourceMappingURL=style.css.map */