<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hidden Brand</a>
    <button
    (click)="showClass = !showClass"
    class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarNav" [attr.aria-expanded]="showClass" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
    [ngClass]="{show:showClass}"
    class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
          [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active"
          routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
          routerLinkActive="active"
          routerLink="/active-post">Posts attivi</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
          routerLinkActive="active"
          routerLink="/inactive-post">Posts inattivi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

