<form (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label>
    <textarea
      type="text"
      id="title"
      name="title"
      [(ngModel)]="newTodo.title"
      required
    >
    </textarea>
    <label for="priority">Priority:</label>
    <select id="priority" [(ngModel)]="newTodo.priority" name="priority">
      <option value="alta">High</option>
      <option value="media">Medium</option>
      <option value="bassa">Low</option>
    </select>
  </div>
  <button type="submit">Crea Post</button>
</form>


<div class="contCaricamento">
<div *ngIf="loading" class="alert alert-warning">
  Salvataggio todo in corso
</div>

<div  *ngIf="oldPost">
    <p>Hai creato un nuovo elemento</p>
    <p>{{oldPost.title}}</p>
</div>
</div>

