 form, .cont-label {
     margin: 30px 0;
     .img-form{
         max-width: 100%;
         height: 250px;
     }
     #description{
          min-height: 150px;
     }
 }

.cont-index{
    min-height: 80vh;
}



header {
    margin-bottom: 40px;
}

#cards{
    margin-bottom: 40px;
    gap:5px;
}


 .card{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 4px -5px 35px gray;
    margin-bottom: 20px;
    max-height: 650px;
    @media  screen and (max-width:768px){
        max-width: 70%;
    }
    .card-text{
        display: block;
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    img{
        padding: 10px 30px;
        max-width: 100%;
        height: 250px;
        @media  screen and (max-width:768px){
            max-width: 70%;
        }
    }
 }


.card-link{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin-left:20px;
    background-color: bisque;
    box-shadow: 1px 1px 15px gray;
    &:hover{
        background-color: sandybrown;
    }
}
