$spacings: (margin, padding);
$directions: (top, left, right, bottom, x, y); // Aggiunta di "x" e "y"
$sizes: (sm, normal, md, lg, xl, xxl, custom-1, custom-2);

$spacing-values: (
  sm: 0.25rem,
  normal: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
  custom-1: 0.75rem,
  custom-2: 2.5rem,
);

@each $property in $spacings {
  @each $direction in $directions {
    @each $size in $sizes {
      $property-abbrev: if($property == 'margin', 'm', 'p');
      $direction-abbrev: if($direction == 'top', 't', if($direction == 'left', 'l', if($direction == 'right', 'r', if($direction == 'bottom', 'b', if($direction == 'x', 'x', 'y')))));
      $class-name: #{$property-abbrev}#{$direction-abbrev}-#{$size};
      .#{$class-name} {
        @if $direction == 'x' {
          #{$property}-left: map-get($spacing-values, $size);
          #{$property}-right: map-get($spacing-values, $size);
        } @else if $direction == 'y' {
          #{$property}-top: map-get($spacing-values, $size);
          #{$property}-bottom: map-get($spacing-values, $size);
        } @else {
          #{$property}-#{$direction}: map-get($spacing-values, $size);
        }
      }
    }
  }
}
