@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {    box-sizing: border-box;
     align-content: center;}

body {
     background-image: url(../img/sfondo.png);
     margin: 15px 15px;
     width: auto;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;

background-image: ;

.header *{
     text-align: center;
     margin: 15px;
     padding: 15px;
     background-color: rgb(0,160,198);
     color: white;
}
.navigazione a {
     color: white;
}

.article {
     padding: 15px;
     margin:15px 5px 15px 5px;
     border-style: solid;
     border-width: 0.8px;
     border-color: rgb(234, 229, 229);
     background-color: white;
}
.aside {
     background-color: white;

}
.















































/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
