$table-background: lightgray;
$cell-padding: 10px;

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
 /* Centra il testo orizzontalmente */

  th, td {
    padding: $cell-padding;
    border: 1px solid $table-background;
    text-align: left;
    vertical-align: middle; /* Centra il contenuto verticalmente */
    width: 150px; /* Larghezza fissa per le celle */
  }


  th {
    background-color: $table-background;
    font-weight: bold;
    text-align: center;
  }

  td {

    word-wrap: break-word;
    button {
      border: none;
      background: none;
      cursor: pointer;
      padding: 5px;
      .svg-delete{
        fill: red;
        box-shadow: -1px 1px 12px 0px lightseagreen;
        width: 20px;
        height: 20px;
      }
    }
  }
  .wide-cell {
    max-width: 420px;
  }

  .narrow-cell,.medium-cell {
    max-width: 50px;
    text-align: left;
    line-height: 1.2;
  }


  .btnGroup{
    max-width:30px;
    text-align:center;
  }
}
.checkbox-container {
  position: relative;
  display: inline-block;
  width: 24px; /* Imposta la dimensione desiderata del cerchio */
  height: 24px; /* Imposta la dimensione desiderata del cerchio */
  margin-right: 10px;
}

/* Stili per il cerchio */
.checkmark-circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid black; /* Rende il cerchio */ /* Puoi personalizzare lo stile del bordo */
  cursor: pointer; /* Mostra il cursore come selezionabile */
}

/* Nascondi il vero checkbox */
.custom-checkbox {
  opacity: 0;
  width: 100%;
  height: 100%;
}

/* Aggiungi la spunta quando il checkbox è selezionato */
.custom-checkbox:checked + .checkmark-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px; /* Imposta la dimensione della spunta */
  height: 12px; /* Imposta la dimensione della spunta */
  border-radius: 50%;
  background: #000; /* Colore della spunta */
}

.titleCheck {
  display: flex;
  align-items: center;
}

.titleTodo {
  word-wrap: break-word;
  max-width: 88%; /* Larghezza massima flessibile */
  text-decoration: line-through;
}

.priorityLow{
  border: 2px solid  yellow;
}

.priorityHigh{
  border: 2px solid  red;
}

.priorityMedium{
  border: 2px solid  orange;
}
