
body{
     box-sizing: border-box;
     display:flex;
     justify-content: center;
     height: 100vh;
}

.widht{
     margin:0 auto;
     min-width: 300px;
     max-width: 700px;
     margin-top:50px;
     padding:20px;
     border: 1px solid #460505;
     border-radius: 5px;
     
}

#task-input{
     margin:20px 20px 20px 0;
     padding:1px 10px;
}

.lista{
     display: flex;
     flex-direction: columm;
     align-items: flex-end;
}

.li{
margin:5px 0;
display: flex;
justify-content: space-between;
cursor: pointer;


}
.elenco{
    margin-top:2px;
    min-height: 50vh;
}



.completo{
     text-decoration: line-through;
     text-decoration-color: blue;
     color:black;
}


.elimina{
     background-color: rgb(162, 162, 203);
     border-radius: 10px;
     border-style: none;
}